.main-board {
  background: green;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.gameboard {
  text-align: center;
  padding: 20px;
}

.table-card-container {
  position: relative;
  width: fit-content;
  margin-bottom: 60px; /* Center the container */
}

.card-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.face-down-row {
  display: flex;
  justify-content: center; /* Align cards in a row */
  gap: 10px; /* Space between cards */
  position: relative; /* For overlap positioning */
  z-index: 1; /* Ensure it's behind face-up cards */
}

.face-up-row {
  display: flex;
  justify-content: center; /* Align cards in a row */
  gap: 10px; /* Space between cards */
  position: absolute; /* Allows overlap with face-down */
  top: 15px; /* Overlap face-down row by 30px */
  left: 0;
  z-index: 2; /* Ensure it's above face-down cards */
  margin-bottom: 30px;
}

.hand {
  display: flex;
  justify-content: center;
  gap: 10px; /* Spacing between cards */
  margin-top: 20px;
  /* max-width: 500px; Set maximum width for container */
  overflow: scroll; /* Clip overflowing content */
}

:root {
  --spacing-factor: 0; /* Base spacing for cards */
  --dynamic-margin: 0px; /* Default margin */
}

.card {
  display: inline-block;
  transition: margin-left 0.2s;
}

.card:nth-child(n + 2) {
  margin-left: var(--dynamic-margin);
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  background: #f0f0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
